extends layout

block content
  div(class='home-page')
    div(class='search-view ingredients-page')
      input(class='search-bar ingredients-search', type='text', placeholder="Search by ingredients...")
    div(class='search-view recipes-page')
      input(class='search-bar', type='text', placeholder='Search by name...')
