doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/scripts/recipematch.js")
    script(src="/scripts/jquery.min.js")
    script(src="/scripts/selectize.min.js")
  body
    div(class='header') 
      div(class='logo') Recipe Match
    div(class='page')
      div(class='content')
        block content
      div(class='taskbar')
        div(class='nav-recipes')
          a(class='nav-link' href="www.google.com") Recipes
