doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/scripts/recipematch.js")
    script(src="/scripts/jquery.min.js")
    script(src="/scripts/selectize.min.js")
  body
    div(class='header')
      div(class='logo') Recipe Match
    div(class='page')
      div(class='content')
        block content
      div(class='taskbar')
        div(class='nav-recipes tooltip' onclick="location.href='/search/recipes';")
          span(class='tooltiptext') Recipe Search
        div(class='nav-ingredients tooltip' onclick="location.href='/search/ingredients';")
          span(class='tooltiptext') Ingredient Search
        div(class='nav-my-recipes tooltip' onclick="location.href='/search/my-recipes';")
          span(class='tooltiptext') My Recipes
    
