extends layout

block content
  div(class='search-view #{ pageStyle } full')
    input(class='search-bar #{ searchType } tall', type='text', placeholder="Search by ingredients...")
    div(class='search-results scrunch')
      div(class='recipe-card') Chalupas
      div(class='recipe-card') Chalupas
      div(class='recipe-card') Chalupas
      div(class='recipe-card') Chalupas
      div(class='recipe-card') Chalupas
      div(class='recipe-card') Chalupas
      div(class='recipe-card') Chalupas
      div(class='recipe-card') Chalupas
      div(class='recipe-card') Chalupas
      div(class='recipe-card') Chalupas
      div(class='recipe-card') Chalupas
