extends layout

block content
  div(class='search-view #{ pageStyle } full')
    input(class='search-bar #{ searchType } tall', type='text', placeholder="Search by ingredients...")
    div(class='search-results scrunch')
      div(class='recipe-card')
        div(class='item1') Picture
        div(class='item2') Name
        div(class='item3') Time
        div(class='item4') Diff
      div(class='recipe-card')
        div(class='item1') Picture
        div(class='item2') Name
        div(class='item3') Time
        div(class='item4') Diff
      div(class='recipe-card')
        div(class='item1') Picture
        div(class='item2') Name
        div(class='item3') Time
        div(class='item4') Diff
      div(class='recipe-card')
        div(class='item1') Picture
        div(class='item2') Name
        div(class='item3') Time
        div(class='item4') Diff
      div(class='recipe-card')
        div(class='item1') Picture
        div(class='item2') Name
        div(class='item3') Time
        div(class='item4') Diff
      div(class='recipe-card')
        div(class='item1') Picture
        div(class='item2') Name
        div(class='item3') Time
        div(class='item4') Diff
      div(class='recipe-card')
        div(class='item1') Picture
        div(class='item2') Name
        div(class='item3') Time
        div(class='item4') Diff
      div(class='recipe-card')
        div(class='item1') Picture
        div(class='item2') Name
        div(class='item3') Time
        div(class='item4') Diff
