html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
  width: auto;
  height: 70px;
  border-style: solid;
  background-color: rgba(255, 50, 50, 0.25);
}

.full {
  width: 100%;
  height: 100%;
}

.logo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 300px;
  text-align: center;
  font-size: 48px;
  padding: 10px;
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  min-height: calc(100% - 78px);
  width: 100%;
}

.content {
  flex: 1;
  display: flex;
}

.home-page {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.divider {
  flex: 1;
  background-color: black;
  max-width: 4px;
  height: 100%;
}

.search-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  overflow: hidden;
  cursor: pointer;
}

.selected-page {
  animation-name: widen;
  animation-duration: .5s;
  min-width: 55%;
}

.deselected-page {
  animation-name: shrink;
  animation-duration: .5s;
  min-width: 50%;
}

@keyframes shrink {
  from {
    min-width: 55%;
  }
  to {
    min-width: 50%;
  }
}

@keyframes widen {
  from {
    min-width: 50%;
  }
  to {
    min-width: 55%;
  }
}

@keyframes expand-full {
  from {
    min-width: 55%;
  }
  to {
    min-width: 100%;
  }
}

@keyframes contract-short {
  from {
    max-height: 100% !important;
  }
  to {
    max-height: 150px !important;
  }
}

.expand {
  animation-duration: .5s;
  animation-name: expand-full;
  min-width: 100%;
}

.short {
  animation-duration: .5s;
  animation-name: contract-short;
  max-height: 150px !important;
}

.scrunch {
  padding-right: 200px;
  padding-left: 200px;
}

.search-bar {
  border-style: solid;
  padding: 5px;
  font-size: 20px;
  margin: auto;
  vertical-align: -webkit-baseline-middle;
  min-width: 0;
  width: 500px;
  max-height: 24px;
  border-color: black;
}

.search-bar-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.ingredients-search-container {
  margin: auto;
}

.ingredients-items {
  max-height: 28px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 500px;
  font: inherit;
  text-align: center;
  padding: 5px;
}

.ingredients-item {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  flex: 1;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.ingredients-page {
  background-image: url("https://previews.123rf.com/images/seamartini/seamartini1607/seamartini160700121/59600549-vegetable-salad-ingredients-background-with-seamless-pattern-of-tomatoes-olives-and-onions-carrots-b.jpg");
  background-repeat: repeat;
  background-size: 400px 400px;
  background-position: center;
}

.recipes-page {
  background-image: url("https://image.freepik.com/free-vector/food-pattern-design_1221-27.jpg");
  background-repeat: repeat;
  background-size: 400px 400px;
  background-position: center;
}

.taskbar {
  flex: 1;
  max-width: 70px;
  border-style: none solid solid solid;
  background-color: rgba(255, 50, 50, 0.25);
  float: right;
  display: flex;
  flex-direction: column;
  height: auto;
}

.taskbar-item {
  display: block;
  flex: 1;
  max-width: 50px;
  max-height: 50px;
  background-size: 50px 50px;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.nav-recipes {
  background-image: url("https://cdn4.iconfinder.com/data/icons/food-outline-set-2/91/Food_142-512.png");
}

.nav-ingredients {
  background-image: url("http://icons.iconarchive.com/icons/icons8/android/512/Food-Bunch-Ingredients-icon.png");
}

.nav-my-recipes {
  background-image: url("https://cdn3.iconfinder.com/data/icons/kitchen-17/342/kitchen_91-512.png");
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #424242;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 30%;
  right: 105%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

a {
  color: #00B7FF;
}

.search-results {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  width: auto;
}

.recipe-card {
  display: grid;
  border-style: solid;
  grid-template-areas:
    'pic pic pic pic'
    'name name name name'
    'time time diff diff';
  background-color: #000000;
  grid-gap: 2px;
  cursor: pointer;
}

.addRecipeButton{
  background-color: #ff8484;
  font-size: 25px;
  border: solid black;
}

.addRecipeButton:hover{
  background-color: #ff9999;
}

.popupEl{
  width: inherit;
  text-align: center;
}

.banner{
  padding: 15px;
}

.formInputs{
  padding: 5px;
}

#addRecipeBanner{
  position: relative;
  background-color: #ff8484;
  font-size: 30px;
}

#addRecipeImg{
  background-color: white;
  height:60px;
}

#uploadIcon{
  padding-top: 15px;
  transform: scale(2);
}
#uploadIcon:hover{
  cursor: pointer;
}

.inputName{
  text-align: left;
}

.recipe-card > div {
  background-color: #ff8484;
  text-align: center;
  font-size: 30px;
}

.card-picture { grid-area: pic; }
.card-title { grid-area: name; }
.card-duration { grid-area: time; }
.card-difficulty{ grid-area: diff; }

.formCloseButton{
  position: absolute;
  top:0px;
  right:0px;
}

.inputContainer{
  width:250px;
  text-align: left;
  margin:auto;
}

.numInput{
  width:45px;
}

.addInputButton{
  border-radius: 5px;
  background-color: green;
  color:white;
  border:green;
  display: inline-block;
  vertical-align: top;
}

#instructionList, #ingredientList{
  display: inline-block;
  vertical-align: top;
}

#instructionInputs, #ingredientInputs{
  display:inline-block;
}

.numInputContainer{
  padding-right: 15px;
}

.addRecipeSubmit{
  padding-top: 15px;
  padding-bottom: 20px;
}

.difficultyLvl{
  position: relative;
}

#diffContainer{
  position: relative;
  width: inherit;
}

.novice{
  color:green;
}
.expert{
  position: absolute;
  right:0px;
  color:red;
}

.addRecipeInput, #sliderContainer, #diffRange{
  width:inherit;
}

.instructionInput{
  width:205px;
}

.recipe-card-back, .add-recipe-form {
  background-color: yellow;
  max-width: 400px;
  min-height: 400px;
  max-height: 500px;
  flex: 1;
  margin: auto;
  cursor: auto;
  overflow-y: scroll;
}

.popup-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
}
